mixin footer()
  //Footer
  footer.footer-global
    .container.text-center
      div
        a.btn-arrow(href='#')
          i.fa.fa-arrow-up(aria-hidden='true')
      div
        ul.menu
          li
            a(href='#') サイトご利用にあたって
          li
            a(href='#') 特定商取引に基づく表記
          li
            a(href='#') 会社概要
          li
            a(href='#') プライバシーポリシー
          li
            a(href='#') 利用規約
      .bottom
        .col-md-12
          p
            small Copyright © Colan Totte Co.,Ltd. All Rigths Reserved
          p
            small 本サイト上に記載・掲載・明記されている内容すべての無断転記・転用を禁じます。
  //./Footer
  script(type='text/javascript', src='js/main.js')
