mixin head(data, is_main_page)
  head
    title コラントッテＣＳＳ
    meta(charset='utf-8')
    meta(name='description', content='コラントッテＣＳＳ')
    meta(name='keywords', content='コラントッテＣＳＳ')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='stylesheet', type='text/css', href='css/main.css')
    if is_main_page
      link(rel='stylesheet', type='text/css', href='css/carousel.css')
      link(rel='stylesheet', type='text/css', href='https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/assets/owl.theme.default.min.css')


