.header-dashboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem 0 3rem;
  background-color: $header-bg-color;
  width: 100%;
  height: $header-height;
  position: relative;
}

//For the best UX we put the sidebar button on the header

.sidebar__toggle-btn {
  color: $orange-dark;
  font-size: 1.75rem;
  position: absolute;
  left: 1rem;
  top: 1.75rem;
  padding-right: .5rem;

  .icon-menufold::before {
    @include respond-to(tablet-and-down) {
      content: '\e679';
    }
  }
}
