//
// Base :: Spaces (for Margins and Paddings)
// --------------------------------------------------

.margin {
  &--normal {
    margin: $spaces;
  }

  &--small {
    margin: $spaces-small;
  }
}

.padding {

  &--normal {
    padding: $spaces;
  }

  &--small {
    padding: $spaces-small;
  }
}
