.btn {
  font-weight: $font-weight-light;
  text-transform: uppercase;
  letter-spacing: .3rem;
}

.fr-btn-primary {
  background: $gradient-primary;
  color: $white;
  border: 0;

  &:hover {
    background: $orange-primary;
  }
}

.fr-btn-secondary {
  background: $gradient-secondary;
  color: $white;
  border: 0;

  &:hover {
    background: $gray-secondary;
  }
}
