.btn {
  font-weight: $font-weight-light;
  text-transform: uppercase;
  letter-spacing: .3rem;
  margin: .25rem;

  @include respond-to(smallphone-and-down) {
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}

.fr-btn-primary {
  background: $gradient-primary;
  color: $white;
  border: 0;

  &:hover {
    background: $orange-primary;
  }
}

.fr-btn-secondary {
  background: $gradient-secondary;
  color: $white;
  border: 0;

  &:hover {
    background: $gray-secondary;
  }
}


