.form-control {
  border-radius: 1.5rem;
}

.form-addon {
  position: relative;
  margin: 0;
  width: 100%;

  i {
    color: $input-placeholder-color;
    font-size: 1.25rem;
    position: absolute;
    bottom: 1.3rem;
    left: 1.25rem;
    width: 1rem;
    height: 1rem;
    z-index: 3;

    @include respond-to(tablet-and-down) {
      bottom: 1.1rem;
    }
  }

  .form-control {
    padding-left: 3rem;
  }
}
