
.fram-welcome {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &__logo {
    background-image: url('#{$path-to-images}fram-io-logo-text.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 30vh;

  }
}
